<nav style="background-color: #0077cc; padding: 1rem;">
  <div class="navbar-links">
    <a routerLink="/" style="margin-right: 15px; color: white; text-decoration: none;">Inicio</a>
    <a routerLink="/about" style="margin-right: 15px; color: white; text-decoration: none;">Nosotros</a>
    <a routerLink="/services" style="margin-right: 15px; color: white; text-decoration: none;">Servicios</a>
    <a routerLink="/gallery" style="margin-right: 15px; color: white; text-decoration: none;">Galería</a>
    <a routerLink="/contact" style="color: white; text-decoration: none;">Contacto</a>
  </div>
  </nav>
  